@import "tailwindcss";
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-zoom-in {
  animation: fadeZoomIn 0.5s ease-out forwards;
}
body {
  @apply bg-[#F5F8FF];
}